In [6]:
# loading libraries
import pandas as pd
from IPython.display import display, Math, Latex

# Regresion logistica

* Basada en la probabilidad condicionada modelo de clasificacion
* variante de la regresion lineal, la variable de salida binaria o catégirica.
* necesita una relacion lineal entre predictores y variables de salida con alguna trasformacion

$y = \frac{1}{1+e^{-(\alpha +\beta x)}}$

In [7]:
#cargar dataset
purchase = pd.read_csv("Gender Purchase.csv")

In [8]:
purchase.head(2)

   Gender Purchase
0  Female      Yes
1  Female      Yes

In [9]:
cross_tab = pd.crosstab(purchase['Gender'],purchase['Purchase'])

In [10]:
cross_tab

Purchase   No  Yes
Gender
Female    106  159
Male      125  121

In [11]:
cross_tab.astype('float').div(cross_tab.sum(axis = 1),axis=0)

Purchase       No      Yes
Gender
Female    0.40000  0.60000
Male      0.50813  0.49187

#### ¿cuál es la probabilidad de que un cliente compre un producto dado que es un hombre?

In [12]:
display(Math(r'P(Compre \ y\ es \ hombre | es \ hombre) = \frac {121}{246}'))

In [13]:
# Teniendo en cuenta los resultados de la tabla 
# de contingencia
(121/511)/(246/511)

0.491869918699187

#### cual es la probabilidad de que un cliente sea mujer dado que compró

In [15]:
display(Math(r'P(es \ mujer \ y\ compra | compra) = \frac {159}{159 + 121}'))

#### cual es la probabilidad de que un cliente sea hombre dado que compró

In [16]:
display(Math(r'P(es \ hombre | compra) = \frac {121}{159 + 121}'))

In [17]:
display(Math(r'P(no \ compra | es \ hombre) = \frac {125}{125 + 121}'))

In [18]:
display(Math(r'P(no \ compra | es \ mujer) = \frac {106}{106 + 159}'))

## Ratio de probabilidades
cocientes entre casos de exito sobre los de fracaso en el suceso estudiado y para cada grupo, va desde cero hasta infinito

In [19]:
display(Math(r'P_f = Probabilidad\ de\ compras\ hechas\ por\ mujeres'))
display(Math(r'Odds_{Purchase\ Female} = \frac{P_f}{1-P_f}'))

In [20]:
display(Math(r'P_m = Probabilidad\ de\ compras\ hechas\ por\ hombres'))
display(Math(r'Odds_{Purchase\ male} = \frac{P_m}{1-P_m}'))

### Implementación método maxima verosimilitud para la regresión logística

In [ ]:
from IPython.display import display, Math, Latex

#### Función de entorno

In [ ]:
display(Math(r'L(\beta) = \prod_{i=1}^n P_i^{y_i}*(1-P_i)^{y_i}'))

In [ ]:
def likelihood(y,pi):
    import numpy as np
    total_sum = 1
    sum_in = list(range(1, len(y)+1))
    for i in range(len(y)):
        sum_in[i] = np.where(y[i]==1,pi[i],1-pi[i])
        total_sum = total_sum * sum_in[i]
    return total_sum

#### Calcular probabilidades para cada observación

In [ ]:
display(Math(r'P_i = P(x_i)=\frac{1}{1+e^{-\sum_{i=1}^n beta_j\cdot x_ij}}'))

In [ ]:
def logitprobs(X, beta):
    import numpy as np
    
    n_rows = np.shape(X)[0]
    n_cols = np.shape(X)[1]
    pi =list(range(1,n_rows+1))
    expon = list(range(1,n_rows+1))
    for i in range(n_rows):
        expon[i] = 0
        for j in range(n_cols):
            ex = beta[j]*X[i][j]
            expon[i] = ex + expon[i]
        with np.errstate(divide='ignore', invalid='ignore'):
            pi[i]= 1/(1+np.exp(-expon[i]))
    return pi

#### Calcular la matriz diagonal

In [ ]:
display(Math(r'W= diag(P_i \cdot (1-p_i))_{i=1}^n'))

In [ ]:
def findw(pi):
    import numpy as np
    n = len(pi)
    W = np.zeros(n*n).reshape(n,n)
    for i in range(n):
        print(i)
        W[i][i] = pi[i]*(1-pi[i])
        W[i][i].astype(float)
    return W

#### Obtener la solución de la función logistica

In [ ]:
display(Math(r"\beta_{n+1} = \beta_n - \frac{f(x_n)}{f'(x_n)}"))
display(Math(r"f(x_n) = X(Y - P)"))
display(Math(r"f'(x_n) = XWX^T"))

In [ ]:
def logistics(X, Y, limit):
    import numpy as np
    from numpy import linalg
    nrow = np.shape(X)[0]
    bias = np.ones(nrow).reshape(nrow,1)
    X_new = np.append(X, bias, axis = 1)
    ncol = np.shape(X_new)[1]
    beta = np.zeros(ncol).reshape(ncol,1)
    root_dif = np.array(range(1,ncol+1)).reshape(ncol,1)
    iter_i = 10000
    while(iter_i>limit):
        print("Iter:i"+str(iter_i) + ", limit:" + str(limit))
        pi = logitprobs(X_new, beta)
        print("Pi:"+str(pi))
        W = findw(pi)
        print("W:"+str(W))
        num = (np.transpose(np.matrix(X_new))*np.matrix(Y - np.transpose(pi)).transpose())
        den = (np.matrix(np.transpose(X_new))*np.matrix(W)*np.matrix(X_new))
        root_dif = np.array(linalg.inv(den)*num)
        beta = beta + root_dif
        print("Beta: "+str(beta))
        iter_i = np.sum(root_dif*root_dif)
        ll = likelihood(Y, pi)
    return beta

Comprobación experimental

In [ ]:
import numpy as np

In [ ]:
X = np.array(range(10)).reshape(10,1)

In [ ]:
y = [0,0,0,0,1,0,1,0,1,1]

In [ ]:
bias = np.ones(10).reshape(10,1)
X_new = np.append(X,bias,axis=1)

In [ ]:
X_new

array([[0., 1.],
       [1., 1.],
       [2., 1.],
       [3., 1.],
       [4., 1.],
       [5., 1.],
       [6., 1.],
       [7., 1.],
       [8., 1.],
       [9., 1.]])

In [ ]:
logistics(X,y,0.00001)

Iter:i10000, limit:1e-05
Pi:[array([0.5]), array([0.5]), array([0.5]), array([0.5]), array([0.5]), array([0.5]), array([0.5]), array([0.5]), array([0.5]), array([0.5])]
0
1
2
3
4
5
6
7
8
9
W:[[0.25 0.   0.   0.   0.   0.   0.   0.   0.   0.  ]
 [0.   0.25 0.   0.   0.   0.   0.   0.   0.   0.  ]
 [0.   0.   0.25 0.   0.   0.   0.   0.   0.   0.  ]
 [0.   0.   0.   0.25 0.   0.   0.   0.   0.   0.  ]
 [0.   0.   0.   0.   0.25 0.   0.   0.   0.   0.  ]
 [0.   0.   0.   0.   0.   0.25 0.   0.   0.   0.  ]
 [0.   0.   0.   0.   0.   0.   0.25 0.   0.   0.  ]
 [0.   0.   0.   0.   0.   0.   0.   0.25 0.   0.  ]
 [0.   0.   0.   0.   0.   0.   0.   0.   0.25 0.  ]
 [0.   0.   0.   0.   0.   0.   0.   0.   0.   0.25]]
Beta: [[ 0.43636364]
 [-2.36363636]]
[0.5][0.5][0.5]
totsum[0.5]
[0.5][0.5][0.5]
totsum[0.25]
[0.5][0.5][0.5]
totsum[0.125]
[0.5][0.5][0.5]
totsum[0.0625]
[0.5][0.5][0.5]
totsum[0.03125]
[0.5][0.5][0.5]
totsum[0.015625]
[0.5][0.5][0.5]
totsum[0.0078125]
[0.5][0.5][0.5]
totsum[0.00390625]
[0.5][0.5][0.5]
totsum[0.00195312]
[0.5][0.5][0.5]
totsum[0.00097656]
Iter:i5.777190082644626, limit:1e-05
Pi:[array([0.08598797]), array([0.12705276]), array([0.18378532]), array([0.2583532]), array([0.35019508]), array([0.45467026]), array([0.56329497]), array([0.66616913]), array([0.75533524]), array([0.82687453])]
0
1
2
3
4
5
6
7
8
9
W:[[0.07859404 0.         0.         0.         0.         0.
  0.         0.         0.         0.        ]
 [0.         0.11091035 0.         0.         0.         0.
  0.         0.         0.         0.        ]
 [0.         0.         0.15000827 0.         0.         0.
  0.         0.         0.         0.        ]
 [0.         0.         0.         0.19160683 0.         0.
  0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.22755849 0.
  0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.24794521
  0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.24599375 0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.22238782 0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.18480392 0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.14315304]]
Beta: [[ 0.60426056]
 [-3.34641372]]
[0.08598797][0.91401203][0.91401203]
totsum[0.91401203]
[0.12705276][0.87294724][0.87294724]
totsum[0.79788429]
[0.18378532][0.81621468][0.81621468]
totsum[0.65124487]
[0.2583532][0.7416468][0.7416468]
totsum[0.48299367]
[0.35019508][0.64980492][0.35019508]
totsum[0.16914201]
[0.45467026][0.54532974][0.54532974]
totsum[0.09223817]
[0.56329497][0.43670503][0.56329497]
totsum[0.0519573]
[0.66616913][0.33383087][0.33383087]
totsum[0.01734495]
[0.75533524][0.24466476][0.75533524]
totsum[0.01310125]
[0.82687453][0.17312547][0.82687453]
totsum[0.01083309]
Iter:i0.9940407075349109, limit:1e-05
Pi:[array([0.0340128]), array([0.06053134]), array([0.10546805]), array([0.1774629]), array([0.28305225]), array([0.41943069]), array([0.56933774]), array([0.7075284]), array([0.81572841]), array([0.89011647])]
0
1
2
3
4
5
6
7
8
9
W:[[0.03285593 0.         0.         0.         0.         0.
  0.         0.         0.         0.        ]
 [0.         0.0568673  0.         0.         0.         0.
  0.         0.         0.         0.        ]
 [0.         0.         0.09434454 0.         0.         0.
  0.         0.         0.         0.        ]
 [0.         0.         0.         0.14596982 0.         0.
  0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.20293367 0.
  0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.24350859
  0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.24519228 0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.20693196 0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.15031557 0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.09780914]]
Beta: [[ 0.65761412]
 [-3.66759924]]
[0.0340128][0.9659872][0.9659872]
totsum[0.9659872]
[0.06053134][0.93946866][0.93946866]
totsum[0.9075147]
[0.10546805][0.89453195][0.89453195]
totsum[0.8118009]
[0.1774629][0.8225371][0.8225371]
totsum[0.66773636]
[0.28305225][0.71694775][0.28305225]
totsum[0.18900428]
[0.41943069][0.58056931][0.58056931]
totsum[0.10973008]
[0.56933774][0.43066226][0.56933774]
totsum[0.06247348]
[0.7075284][0.2924716][0.2924716]
totsum[0.01827172]
[0.81572841][0.18427159][0.81572841]
totsum[0.01490476]
[0.89011647][0.10988353][0.89011647]
totsum[0.01326697]
Iter:i0.10600674406802027, limit:1e-05
Pi:[array([0.02490177]), array([0.04697681]), array([0.0868775]), array([0.15515129]), array([0.26170168]), array([0.40624059]), array([0.56907679]), array([0.71823018]), array([0.83108181]), array([0.90473054])]
0
1
2
3
4
5
6
7
8
9
W:[[0.02428167 0.         0.         0.         0.         0.
  0.         0.         0.         0.        ]
 [0.         0.04476999 0.         0.         0.         0.
  0.         0.         0.         0.        ]
 [0.         0.         0.0793298  0.         0.         0.
  0.         0.         0.         0.        ]
 [0.         0.         0.         0.13107937 0.         0.
  0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.19321391 0.
  0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.24120917
  0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.2452284  0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.20237559 0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.14038483 0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.08619319]]
Beta: [[ 0.66217766]
 [-3.6953843 ]]
[0.02490177][0.97509823][0.97509823]
totsum[0.97509823]
[0.04697681][0.95302319][0.95302319]
totsum[0.92929122]
[0.0868775][0.9131225][0.9131225]
totsum[0.84855673]
[0.15515129][0.84484871][0.84484871]
totsum[0.71690206]
[0.26170168][0.73829832][0.26170168]
totsum[0.18761447]
[0.40624059][0.59375941][0.59375941]
totsum[0.11139786]
[0.56907679][0.43092321][0.56907679]
totsum[0.06339394]
[0.71823018][0.28176982][0.28176982]
totsum[0.0178625]
[0.83108181][0.16891819][0.83108181]
totsum[0.0148452]
[0.90473054][0.09526946][0.90473054]
totsum[0.0134309]
Iter:i0.0007928351246008561, limit:1e-05
Pi:[array([0.02423594]), array([0.04594805]), array([0.08540873]), array([0.15331276]), array([0.25986436]), array([0.40504298]), array([0.56897776]), array([0.71907124]), array([0.83230289]), array([0.90586963])]
0
1
2
3
4
5
6
7
8
9
W:[[0.02364856 0.         0.         0.         0.         0.
  0.         0.         0.         0.        ]
 [0.         0.04383683 0.         0.         0.         0.
  0.         0.         0.         0.        ]
 [0.         0.         0.07811408 0.         0.         0.
  0.         0.         0.         0.        ]
 [0.         0.         0.         0.12980796 0.         0.
  0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.19233487 0.
  0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.24098316
  0.         0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.24524207 0.         0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.20200779 0.         0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.13957479 0.        ]
 [0.         0.         0.         0.         0.         0.
  0.         0.         0.         0.08526985]]
Beta: [[ 0.66220827]
 [-3.69557172]]
[0.02423594][0.97576406][0.97576406]
totsum[0.97576406]
[0.04594805][0.95405195][0.95405195]
totsum[0.9309296]
[0.08540873][0.91459127][0.91459127]
totsum[0.85142009]
[0.15331276][0.84668724][0.84668724]
totsum[0.72088652]
[0.25986436][0.74013564][0.25986436]
totsum[0.18733272]
[0.40504298][0.59495702][0.59495702]
totsum[0.11145492]
[0.56897776][0.43102224][0.56897776]
totsum[0.06341537]
[0.71907124][0.28092876][0.28092876]
totsum[0.0178152]
[0.83230289][0.16769711][0.83230289]
totsum[0.01482764]
[0.90586963][0.09413037][0.90586963]
totsum[0.01343191]

array([[ 0.66220827],
       [-3.69557172]])

In [ ]:
import statsmodels.api as sm

In [ ]:
logit_model = sm.Logit(y,X_new)
resultados = logit_model.fit()

Optimization terminated successfully.
         Current function value: 0.431012
         Iterations 6

In [ ]:
resultados.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                        Results: Logit
===============================================================
Model:              Logit            Pseudo R-squared: 0.360
Dependent Variable: y                AIC:              12.6202
Date:               2021-11-08 16:23 BIC:              13.2254
No. Observations:   10               Log-Likelihood:   -4.3101
Df Model:           1                LL-Null:          -6.7301
Df Residuals:       8                LLR p-value:      0.027807
Converged:          1.0000           Scale:            1.0000
No. Iterations:     6.0000
-----------------------------------------------------------------
          Coef.    Std.Err.      z      P>|z|     [0.025   0.975]
-----------------------------------------------------------------
x1        0.6622     0.4001    1.6551   0.0979   -0.1220   1.4464
const    -3.6956     2.2889   -1.6145   0.1064   -8.1818   0.7906
===============================================================

"""

# Implementación regresión logística

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/ColabNotebooks/ML_udemy/bank.csv",sep=';')

In [ ]:
data.head()

   age          job  marital  ... euribor3m nr.employed   y
0   30  blue-collar  married  ...     1.313      5099.1  no
1   39     services   single  ...     4.855      5191.0  no
2   25     services  married  ...     4.962      5228.1  no
3   38     services  married  ...     4.959      5228.1  no
4   47       admin.  married  ...     4.191      5195.8  no

[5 rows x 21 columns]

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4119 entries, 0 to 4118
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             4119 non-null   int64
 1   job             4119 non-null   object
 2   marital         4119 non-null   object
 3   education       4119 non-null   object
 4   default         4119 non-null   object
 5   housing         4119 non-null   object
 6   loan            4119 non-null   object
 7   contact         4119 non-null   object
 8   month           4119 non-null   object
 9   day_of_week     4119 non-null   object
 10  duration        4119 non-null   int64
 11  campaign        4119 non-null   int64
 12  pdays           4119 non-null   int64
 13  previous        4119 non-null   int64
 14  poutcome        4119 non-null   object
 15  emp.var.rate    4119 non-null   float64
 16  cons.price.idx  4119 non-null   float64
 17  cons.conf.idx   4119 non-null   float64
 18  euribor3m       4119 non-null   float64
 19  nr.employed     4119 non-null   float64
 20  y               4119 non-null   object
dtypes: float64(5), int64(5), object(11)
memory usage: 675.9+ KB